@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}

#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    color: #fff;
    background: #000;
    letter-spacing: 2px;
}

#map {
    width: 400px;
    height: 700px;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.decor-tree {
    width: 100px;
    height: 138px;
    top: 444px;
    left: 110px;
    z-index: 20;
}

#torii {
    width: 400px;
    height: 400px;
    background-image: url('../img/torii.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 2;
}

#conclusion {
    visibility: hidden;
    width: 100%;
    height: 50px;
    background-color: rgb(71, 255, 145);
    position: absolute;
    top: 100px;
    left: 0;
    transition: top 0.05s, left 0.05s;
    z-index: 0;
}

.obstacle {
    visibility: hidden;
    width: 26px;
    height: 40px;
    background-color: red;
    position: absolute;
    z-index: 1;
}

#obstacle1 {
    top: 214px;
    left: 118px;
}

#obstacle2 {
    top: 214px;
    left: 248px;
}

#obstacle3 {
    width: 50px;
    height: 380px;
}

#obstacle4 {
    width: 50px;
    height: 205px;
    top: 225px;
    left: 49px;
}

#obstacle5 {
    width: 17px;
    height: 357px;
    top: 31px;
    right: 0px;
}

#obstacle6 {
    width: 50px;
    height: 270px;
    top: 68px;
    right: 5px;
}

#obstacle7 {
    width: 50px;
    height: 64px;
    top: 387px;
    right: 5px;
}

#obstacle8 {
    width: 28px;
    height: 11px;
    top: 307px;
    right: 130px;
}

.success {
    visibility: hidden;
    width: 30px;
    height: 30px;
    background-color: blue;
    position: absolute;
    z-index: 1;
    top: 220px;
}

#success1 {
    left: 142px;
}

#success2 {
    left: 222px;
}

#failureCollision {
    visibility: hidden;
    width: 30px;
    height: 30px;
    background-color: green;
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 180px;
}

#cherry-head {
    width: 105px;
    height: 105px;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 20px;
}

#cherry-head img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.decor-tree {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
